
        <form action="/users/forgot-password/send-email" method="post">
            <input type="email" placeholder="xyz.gmail.com" name="email">
            <input type="submit">
        </form>
