
<h3><%= email %></h3>
<form action="/users/reset-password/?email=<%= email %>" method="post">
    <input type="password" name="password">
    <input type="password" name="confirm_password">
    <input type="submit">
</form>